<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkVm9UQhzIFCIR5LYjULqQgvBzt5jvlHw</string>
	<key>GCM_SENDER_ID</key>
	<string>710798153798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>capocchiaVoloante</string>
	<key>PROJECT_ID</key>
	<string>dietideals24-8476a</string>
	<key>STORAGE_BUCKET</key>
	<string>dietideals24-8476a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710798153798:ios:ce62f0d71e0bbe1fa89247</string>
</dict>
</plist>